@model WorkAround.Web.Models.RegisterModel

@{
    ViewBag.Title = "WorkAround - Register";
}

@Html.ValidationSummary(true)

@using (Html.BeginForm("Register", "Auth", FormMethod.Post, new { @class = "ink-form column-group gutters" }))
{
    <fieldset class="all-33 small-100 tiny-100">
        <legend>Please fill the registration form</legend>

        <div class="control-group">
            <label for="email">Email</label>
            <div class="control">
                @Html.EditorFor(m => m.Email, new { @id = "email", placeholder = "Enter email..." })
            </div>
        </div>

        <div class="control-group">
            <label for="password">Password</label>
            <div class="control">
                @Html.EditorFor(m => m.Password, new { @id = "password", placeholder = "Enter password..." })
            </div>
        </div>
        
        <div class="control-group">
            <label for="country">Country</label>
            <div class="control">
                @Html.EditorFor(m => m.Country, new { @id = "country", placeholder = "Your country..." })
            </div>
        </div>
        
        <div class="control-group">
            <label for="relocate">Are you willing to relocate?</label>
            <div class="control">
                @Html.EditorFor(m => m.WillingToRelocate, new { @id = "relocate" })
            </div>
        </div>
        
        <div class="control-group">
            <div class="control">
                <button class="ink-button" value="Register">Register</button>
            </div>
        </div>
    </fieldset>
}

